.sidebar-container {
	height: 100vh;
	overflow-y: auto;
}

.chat-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.chat-message {
	display: inline-block;
	background-color: rgba(145, 210, 255, 0.5);
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	padding-top: 20px;
	padding-left: 20px;
}

.chat-message p {
	margin: 0;
}

.chat-messages {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	padding: 10px;
}

.message-info {
	display: flex;
	justify-content: flex-end;
}

.chat-input {
	display: flex;
	align-items: center;
	padding: 10px;
	border-top: 1px solid #ccc;
}

.message-badge {
	margin-right: 5px;
}

.tagSelect {
	z-index: 100;
}
